
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Roles</h1>
    </div>
    
<div class="row">
    <div class="col-md-12">
        <input type="text" class="form-control" [value]="firstName" placeholder="Enter your first name">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <input [type]="inputType"/>
    </div>

<div class="row">
    <div class="col-md-12">
        <input type="text" [(ngModel)]="firstName" placeholder="Enter your first name"/>
    </div>
<p>{{firstName}}</p>
<p>{{angularVersionNumber}}</p>
<p>{{currentDateTime}}</p>